/* 



h1{
    font-weight: bold;
    font-size: larger;
    padding-bottom: 10px;
    margin: 0;
}

button{
    border-radius: 20px;
    border: 1px solid #18608a;
    background-color: #18608a;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    margin-top: 20px;
}

button:hover{
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    opacity: 0.7;
}

form{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

.input{
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px;
    width: 130%;
}

.container-div{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 400px;
    max-width: 100%;
    min-height: 480px;
}

.form-container{
    top: 0;
    height: 100%;
    position:absolute;
    
}
 */
